.reservationContainer {
    background-color: #FFDA61;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.inputDate {
    color: black;
    margin-bottom: 20px;
    width: 150px;
}

.turnBtn {
    background-color: black;
    position: relative;
    height: 30px;
    color: #FFDA61;
    flex-basis: calc(30%); /* Para tener 3 botones por fila con un margen de 10px entre ellos */
    flex-grow: 1; /* Para que los botones ocupen el espacio disponible de manera equitativa */
    transition: all 0.2s ease;
    box-shadow: -4px 4px 10px 0px rgba(0,0,0,0.56);
-webkit-box-shadow: -4px 4px 10px 0px rgba(0,0,0,0.56);
-moz-box-shadow: -4px 4px 10px 0px rgba(0,0,0,0.56);
}

.turnBtn:active {
    top: 2px;
    box-shadow: -3px 3px 6px 0px rgba(0,0,0,0.56);
-webkit-box-shadow: -3px 3px 6px 0px rgba(0,0,0,0.56);
-moz-box-shadow: -3px 3px 6px 0px rgba(0,0,0,0.56);
}

.turnsContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

.selectedTurn {
    background-color: #56c26e;
    cursor: default;
    top: 2px;
    box-shadow: -3px 3px 6px 0px rgba(0,0,0,0.56);
-webkit-box-shadow: -3px 3px 6px 0px rgba(0,0,0,0.56);
-moz-box-shadow: -3px 3px 6px 0px rgba(0,0,0,0.56);
  }
  
.yourReserve {
    color: black;
    font-size: 1.2rem;
}

.reserveBtn {
    background-color: #56c26e;
    padding: 5px;
    margin-top: 20px;
}

.reserveContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.showMoreBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}