.navContainer {
display: flex !important;
}
.options{
    display: flex;
}

.users{
    padding: 10px 20px;
    color: black;
    font-size: 1.2em;
}

.active{
    background-color: black;
    border-radius: 10px;
    color: #FFDA61;;
}

.views {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}