.options{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    width: 100%;
}

.users{
    width: 6rem;
    height: 2.5rem;
    color: white;
    /* border-top-left-radius:5px ;
    border-bottom-left-radius:5px ; */
    font-size: 1.2em;
}

.active{
    background-color: black;
}


