.historyContainer {
    height: 80vh;
    background-color: #FFDA61;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookingsContainer {
    height: 80%;
    width: 45%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom:80px;
}

.titleContainer {
    margin: 50px 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: black;
    width: 77%;
}

.titleContainer span {
    color: #FFDA61;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
}