.container{
    height: 500px;
    width: 100vw;
    text-align: center;
    

}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgage{
    margin-top: 50px ;
    width: 300px;
}
.content h1{
    margin-top: 15px ;
    font-size: 2rem;
    font-weight: bold;
    color: #FFDA61;
    margin-right: 25px;
}