.card {
  width: 200px;
  height: 250px;
  background: #f5f5f5;
  position: relative;
  border: 2px solid #c3c6ce;
  transition: 0.2s ease-out;
  overflow: visible;
  display: flex;
  flex-direction: column;
 }
 
 .cardDetails {
  color: black;
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
 }
 
 .cardButton {
  transform: translate(-50%, 125%);
  width: 80%;
  border: none;
  background-color: black;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: black;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  scale: 110%;
 }
 
 .card:hover .cardButton {
  transform: translate(-50%, 50%);
  opacity: 1;
  cursor: pointer;
 }

 .sportName h1{
  font-size: 1.5rem;
 }

 .sportImage {
  width: 100%;
  height: 55%;
  
 }