.footerContainer {
    height:100px;
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
}
.logo {
    width: 64.2px;
    height: 56.6px;
}

.copyright {
    color: white;
}

.socialIcons {
    display: flex;
    width: 15%;
    justify-content: space-around;
    color: white
}
.socialIcon {
    width: 30px;
    transition: all 0.2s ease;
    width: 30px;
}

.aboutDevs {
    color: white;  
}

.socialIcon:hover {
    scale: 120%;
    cursor: pointer;
    color: #F8EF88;
}