.footerContainer {
    height:60px;
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 64.2px;
}

.copyright {
    color: white;
    font-size: x-small;
}

.socialIcons {
   display: flex;
    width: 22%;
    justify-content: space-around;
    color: white;
    font-size: 1rem;
}
.socialIcon {
    transition: all 0.2s ease;
}

.aboutDevs {
    color: white;  
    font-size: x-small;
}
.aboutDevs:hover {
    color: #FFDA61;
}

.socialIcon:hover {
    scale: 120%;
    cursor: pointer;
    color: #FFDA61;
}

.footerText {
    display: flex;
    flex-direction: column;
    align-items: center;
}