.turnsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .btnsContainer {
    display: flex;
    flex-wrap: wrap;
    border: none;
    outline: none;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 10px;
    height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #FFDA61;
    margin-top: 10px;
  }
  
  /* Estilos del Scrollbar */
  /* Firefox */
  .btnsContainer {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ddc678;
  }
  
  /* Chrome, Edge, y Safari */
  .btnsContainer::-webkit-scrollbar {
    width: 8px;
  }
  
  .btnsContainer::-webkit-scrollbar-track {
    background: #ffe89e;
  }
  
  .btnsContainer::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
    border: 0px none #ffffff;
  }
  
  .turnsContainer button {
    background-color: black;
    color: #ffda61;
    width: 68px;
    height: 30px;
    box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.54);
    transition: all 0.2s ease;
    position: relative;
  }

  .activeButton {
    background-color: #46d250;
    color: white;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.92);
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.92);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.92);
  }