.turnsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btnsContainer {
    display: flex;
    flex-wrap: wrap;
    border: none;
    outline: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.turnsContainer button {
    background-color: black;
    color: #FFDA61;
    width: 60px;
    height: 30px;
}
