.turnsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .btnsContainer {
    display: flex;
    flex-wrap: wrap;
    border: none;
    outline: none;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 10px;
    height: 85px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #FFDA61;
    margin-top: 10px;
    padding: 10px;
  }
  
  /* Estilos del Scrollbar */
  /* Firefox */
  .btnsContainer {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ddc678;
  }
  
  /* Chrome, Edge, y Safari */
  .btnsContainer::-webkit-scrollbar {
    width: 8px;
  }
  
  .btnsContainer::-webkit-scrollbar-track {
    background: #ffe89e;
  }
  
  .btnsContainer::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
    border: 0px none #ffffff;
  }
  
  .turnsContainer button {
    /* background-color: black; */
    color: black;
    border: solid 1px black;
    width: 68px;
    height: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    position: relative;
    border-radius: 10px;
  }

  .activeButton {
    background-color: black;
    color: #FFDA61;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.92);
  }

  .noTurns {
    color: rgb(247, 82, 82);
    margin-top: 10px;
  }

  /* RESPONSIVE */
/* Estilos para pantallas con ancho máximo de 576px (por ejemplo, smartphones en orientación vertical) */
@media (max-width: 576px) {}

/* Estilos para pantallas con ancho entre 577px y 991px (por ejemplo, tabletas en orientación vertical) */
@media (min-width: 577px) and (max-width: 991px) {}

/* Estilos para pantallas con ancho mínimo de 992px (por ejemplo, laptops y pantallas de escritorio) */
@media (min-width: 992px) {}

/* Estilos para pantallas con ancho mínimo de 1200px (por ejemplo, pantallas de escritorio grandes) */
@media (min-width: 1200px) {
  .btnsContainer {
    width: 75%;
  }
}