.container{
    display: flex;
    justify-content: center;
}

.table{
    width: 100%;
}

.edit{
    display: flex;
    justify-content: flex-end;
}

.edit >button{
    width: 70%;
    font-size: 1em;
}

.name{
    font-size: 1.5em;
}
