@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/images/backgroundb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@layer utilities {
    .register-input {
      @apply shadow appearance-none border rounded-full w-full py-1.5 px-3 text-gray-700 leading-tight focus:outline-none mb-3 mt-0;
    }
    .register-input:focus {
      @apply focus:shadow;
    }
    .register-input-mail {
        @apply shadow appearance-none border rounded-full w-full py-1.5 px-4 text-gray-700 leading-tight focus:outline-none;
    }
    .register-input-mail:focus {
         @apply focus:shadow;
    }
  }