.bannerContainer {
    width: 100vw;
    z-index: 100;
    margin-top: 45px;
}


/* RESPONSIVE */
/* Estilos para pantallas con ancho máximo de 576px (por ejemplo, smartphones en orientación vertical) */
@media (max-width: 576px) {}

/* Estilos para pantallas con ancho entre 577px y 991px (por ejemplo, tabletas en orientación vertical) */
@media (min-width: 577px) and (max-width: 991px) {

}

/* Estilos para pantallas con ancho mínimo de 992px (por ejemplo, laptops y pantallas de escritorio) */
@media (min-width: 992px) {
    .imagenBanner {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .bannerContainer {
        min-height: 100vh;
        margin-top: 45px;
    }
    
}

/* Estilos para pantallas con ancho mínimo de 1200px (por ejemplo, pantallas de escritorio grandes) */
@media (min-width: 1200px) {
    .imagenBanner {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .bannerContainer {
        margin-top: 0;
        height: 100vh;
    }
       
}