.navContainer {
    width: 100%;
    height: 450px;
    background-image: url('../../assets/images/mmclub.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 200;
    box-shadow: 0px 12px 32px 10px rgba(0,0,0,0.7);
}

.barContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    height: 60px;
    align-items: center;
    background-color: #F8EF88;
    font-size: 1em;
    font-weight: 600;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    margin-bottom: 100px;
    
}

.logo {
    width: 134.2px;
    height: 126.6px;
    position: relative;
    right: -55px;
    z-index: 101;
    margin-bottom: 100px;
}

.options{
    width: 75%;
    height: 100%;
    
}

.ul{
    display: flex;
    width: 100%;
    height: 100%;
}


.ul > li{
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all .3s;
    cursor: pointer;
}

.ul > li > a{
    text-decoration: none;
    color: black;
} 

.ul > li:hover{
    background-color: black;
}

.ul > li:hover > a{
    color: #F8EF88;
}