
.logo {
    width: 45px;
    margin-top: 2px;
  position: absolute;
  z-index: 101;
  left: 35%; /* Coloca el punto central del logo en el centro de la página */
  /* transform: translateX(-50%); */
}

.adminBar {
    display: flex;
    color: black;
    list-style: none;
    align-items: center;
    font-size: 0.8rem;
    margin-right: 20px;
    width: 170px;
    justify-content: space-around;
    height: 45px;
    z-index: 2001;
}
.adminBar li:hover {
    cursor: pointer;
}

.navContainer {
    display: flex;
    background-color:#FFDA61;
    align-items: flex-start;
    position: fixed;
    z-index: 2000;
    width: 100%;
    box-shadow: -1px -26px 37px 49px rgba(0,0,0,0.58);

}

 /* RESPONSIVE */

   /* Mobile hasta smartphone grande */
   @media (max-width: 720px) {

}

/* Smartphone grande hasta ordenador portátil medio */
@media (min-width: 721px) and (max-width: 1366px) {
    
.logo {
    width: 60px;
    margin-top: 2px;
    margin-left: 10px;
  position: relative;
  z-index: 101;
  left: 0%;
}
.adminBar {
    height: 60px;
}
}

/* Ordenador portátil medio hasta ordenador de escritorio medio */
@media (min-width: 1367px) and (max-width: 1440px) {


}

/* Ordenador de escritorio medio y pantallas más grandes */
@media (min-width: 1441px) {

}