/* .navContainer {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/mmclub.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    z-index: 200;
    box-shadow: 0px 12px 32px 10px rgba(0,0,0,0.7);
    
}

.navSection {
    display: flex;
    flex-direction: column;
} */
.barContainer{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: #FFDA61;
    font-size: 1em;
    font-weight: 600;
    z-index: 1000;
    justify-content: space-between;
    box-shadow: 0px 12px 32px 10px rgba(0,0,0,0.7);
}

.logo {
    width: 55px;
    position: relative;
    z-index: 101;
}

.options{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}

.ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}


.link{
    list-style: none;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: underline transparent;
    text-underline-offset: 6px;
}

.adminBar {
    display: flex;
    color: black;
    list-style: none;
    align-items: center;
    font-size: 0.8rem;
    margin-right: 40px;
    width: 10%;
    justify-content: space-around;
}
.adminBar li:hover {
    cursor: pointer;
}

.imageAndNav {
    display: flex;
    align-items: center;
    margin-left: 40px;
    width: 35%;
}

.link:hover{
    text-decoration: underline 1.2px;
    text-underline-offset: 6px;
}
