.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    gap: 1.5rem;
    position: relative;
    background-color: #FFDA61;
    padding: 6rem 2rem 4rem 2rem;
}

.logo{
    width: 12rem;
}

.container > div{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}

.container > div > input{
    width: 19rem;
    border: none;

    padding: .35rem;
}

.container > textarea{
    width: 100%;
    margin-top: 1rem;
    border: none;
    padding: .8rem;
    font-size: 1em;
}


@media (max-width: 720px) {
}

/* Smartphone grande hasta ordenador portátil medio */
@media (min-width: 721px) and (max-width: 1366px) {  
    .container {
        border-radius: 10px;
    }    
}

/* Ordenador portátil medio hasta ordenador de escritorio medio */
@media (min-width: 1367px) and (max-width: 1440px) {
    .container {
        border-radius: 10px;
    } 
}

/* PC de escritorio medio y pantallas más grandes */
@media (min-width: 1441px) {
    .container {
        border-radius: 10px;
    }   
}
