.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    gap: 1.5rem;
    position: relative;
    background-color: #FFDA61;
    padding: 6rem 2rem 4rem 2rem;
}

.logo{
    width: 12rem;
}

.container > div{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}

.container > div > input{
    width: 19rem;
    border: none;

    padding: .35rem;
}

.container > textarea{
    width: 100%;
    margin-top: 1rem;
    border: none;
    padding: .8rem;
    font-size: 1em;
}
