.whatsappIcon {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 9999;
  margin-bottom: 0px;
  font-size: 2.5rem;
  transition: all 0.2s ease;
  }

  .whatsappIcon:hover {
    scale: 140%;
    cursor: pointer;
  }