.detailContainer {
}

.titleSport {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F8EF88;
  background-color: black;
  width: 200px;
  height: 60px;
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
  font-size: 1.5rem;
}
.imageAndTitle{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}
.imageSport {
  width: 35rem;
  clip-path: polygon(8% 14%, 90% 0, 100% 100%, 0 85%);
}

.titleSport h1 {
  margin-top: -8px;
}

.topSlice {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #f8ef88;
  flex-wrap: wrap;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%);
  padding: 50px 50px 100px 50px;
  
}

.calendarReservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendarReservation h2 {
  margin-bottom: 20px;
}

.midSlice {
  padding: 100px 0 100px 0;
}

.botSlice {
  background-color: #f8ef88;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 300px;
  clip-path: polygon(0 17%, 100% 0, 100% 100%, 0 100%);
}
