.detailContainer {
  width: 100%;
  margin: auto;
  color: #F8EF88;
  background-color: #F8EF88;
  height: 1000px;
}

.p {
  font-size: 22px;
}

.title {
  font-size: 2.5em;
  background-color: black;
  

}

.containerImgCalendar {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 200px;
  
}

.image {
  background-color: rgb(134, 134, 134);
  width: 200px;
  height: 400px;
  margin: 20px;
}
.imagen {
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 500px;
    margin-top: 10px;
  }

.carruselContainer {
  width: 100%;
  overflow: hidden;
  margin-top: 80px;
  height: 800px;
  background-color: black;
}

.carousel {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;


}

.slider {
  display: flex;
  scroll-snap-align: start;
}

.image {
  flex: 0 0 100%;
  scroll-snap-align: start;

}

.prueba{
  background-color: rgb(0, 202, 101);
  height: 800px;
  width: 100%;
}

.reseñasContainer{
  height: 800px;
  background-color: #F8EF88;
}
