.container{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portada{
    display: flex;
    position: relative;
    width: 100%;
}

.title{
    position: absolute;
    font-size: 4.5em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    bottom: 5rem;
    left: 5rem;
}

.sectionForm{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.logo {
    color: transparent;
    z-index: 1000;
    position: relative;
    width: 22rem;
    top: 80px;
}

