.container{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(circle at center center, transparent,rgb(0,0,0)),repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 2px,transparent 2px, transparent 10px,rgb(0,0,0) 10px, rgb(0,0,0) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgb(46,40,40) 0px, rgb(46,40,40) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
}

.portada{
    display: flex;
    position: relative;
    width: 100%;
}

.title{
    position: absolute;
    font-size: 4.5em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    bottom: 5rem;
    left: 5rem;
}

.sectionForm{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.logo {
    color: transparent;
    z-index: 1000;
    position: relative;
    width: 22rem;
    top: 80px;
}

