/* .carruselContainer {


} */
.btn{
    margin: 80px;
}

.carruselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
  
  .btn {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .imagesContainer {
    display: flex;
    align-items: center;
    width: 900px;
  }
  
  .imageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .smallImage {
    width: 180px; 
    opacity: 0.5; 

  }
  
  .bigImage {
    width: 400px; 

  }
  


