.home{
    width: 4rem;
    height: 2rem;
    background-color: black;
    color: #FFDA61;
}

.container {
    background-color: #FFDA61;
    min-height: 100vh;
}

.options{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    width: 100%;
}

.options > .users{
    width: 6rem;
    height: 2.5rem;
    color: white;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
    font-size: 1.2em;
}

.options > .sports{
    width: 6rem;
    height: 2.5rem;
    color: white;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    font-size: 1.2em;
}

.active{
    background-color: black;
}