.infoContainer {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
    background: #ffffff;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.68);
padding: 10px;
border-radius: 10px;

}

.summaryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 20px;

}

.reserveBtn {
    background-color: #46d250;
    padding: 5px 10px;
    box-shadow: -3px 3px 11px 1px rgb(0 0 0 / 42%);
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
}

.reserveBtn:hover {
    top: 1px;
    box-shadow: -2px 2px 6px 1px rgb(0 0 0 / 42%);
}

.reserveBtn:active {
    top: 2px;
    box-shadow: -1px 1px 6px 0px rgb(0 0 0 / 42%);
}

.monoOK {
    width: 70px;
}