.cardSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8EF88;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    padding-bottom: 200px;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 50px;   
    width: 80%;
    flex-wrap: wrap;
    margin-top: 40px;
}

.titleContainer {
    width: 100%;
}

