.cardSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1230px;
    background: #F8EF88;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
    bottom: 170px;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 50px;   
    width: 80%;
    flex-wrap: wrap;
    margin-top: 40px;
}

.titleContainer {
    width: 100%;
}