.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 50px;   
    width: 70%;
    flex-wrap: wrap;
}

.cardSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    width: 100%;
}