.calendarContainer {
  display: inline-block;
  border: 3px solid #f8ef88;
  padding: 25px;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #F8EF88(2, 2, 2);
  
}

.calendarHeaderContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c0bebe;
  padding: 20px 0;
  font-weight: bold;
}

.calendarDaysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  margin-top: 10px;
  height: 250px;
}

.containerDay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 25px;
}

.emptyDay {
  width: 10px;
  height: 20px;
}

.calendarDay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 28px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: rgb(1, 1, 1);
  color: #f8ef88;
  border: none;
  border-radius: 2px;
}

.calendarDay.selected {
  background-color: #007bff;
  color: #fff;
}

.button {
  cursor: pointer;
  background: none;
  border: none;
  
 
}

.mesBtnContainer {
  display: flex;
  justify-content: space-evenly;
  
}
