.calendarContainer {
  display: inline-block;
  border: 3px solid #ffffff;
  padding: 45px;
  background-color: #000000;
  color: #f8ef88;
  box-shadow: 9px 10px 20px 8px rgba(0, 0, 0, 0.75);
}

.calendarHeaderContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c0bebe;
  padding: 12px;
  font-weight: bold;
}

.calendarDaysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 30px;
  margin-top: 10px;
  height: 300px;
  padding: 10px;
}

.containerDay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
}

.emptyDay {
  width: 30px;
  height: 30px;
}

.calendarDay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 28px;
  cursor: pointer;
  background-color: rgb(1, 1, 1);
  color: #f8ef88;
  border: none;
  border-radius: 2px;
}
.calendarDay:hover {
  font-size: 22px;
}

.calendarDay.selectedDay {
  background-color: #f8ef88;
  color: rgb(0, 0, 0);
  display: flex;
}

.button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  color: #f8ef88;
}

.mesBtnContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.dateTimePicker {
  margin-top: 30px;
}

.dateTimePicker label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.dateTimePicker div {
  display: flex;
  align-items: center;
}

.label {
  color: #000000;
}

.hour {
  margin-top: 5px;
}

.reserveButton {
  background-color: #f8ef88;
  border-radius: 5px;
  margin-top: 20px;
  color: #000000;
  padding: 6px;
}

.reserveButton:hover{
  background-color: #fcef5c;
}
.parrafoSelect {
  margin-top: 40px;
  font-size: 20px;
}
