.container{
    width: 100%;
    height: 30rem;
    border-bottom: solid #FFDA60 1px;
    border-right: solid #FFDA60 1px;
    display: flex;
    justify-content: space-between;
    background-color: #000000aa;
    margin: 2vw;
    border-radius: 10px;
}

.img{
    /* border: solid 1px green;  */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img > div{
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: solid 1px yellow;
}

.userdata{
    /* border: solid 1px cyan; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    /* padding-left: 2rem; */
}

.userdata >div{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    color: white;
}

.userDataLabel{
    font-size: 1rem;
    color: white;
}

.profileInput{
    color: white;
}

.profileform{
    border: 1px solid fuchsia;
}

.editContainer{
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.editButton{
    border: 1px solid rgba(255, 255, 255, 0.16);
    text-align: left;
    padding: 5px;
    width: 8rem;
    margin-right: 10px;
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
}

.buttonText{
    margin-left: 8px;
    color: rgba(255, 255, 255, 0.20);
}

.iconButton{
    margin-left: 4px;
    color: rgba(255, 255, 255, 0.20);
}