.container{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    background-color: #000000e2;
    margin: 2vw;
    border-radius: 5px;
    border: 1px solid #FFDA60;
}

.img{
    /* border: solid 1px green;  */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img > div{
    width: 60%;
    height: 60%;
    border-radius: 5px;
    border: solid 1px #ffda603b;
}

.userdata{
    /* border: solid 1px cyan; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    /* padding-left: 2rem; */
}

.userdata >div{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    color: #f4f4f5;
}

.userDataLabel{
    font-size: 1rem;
    color: #f4f4f56c;
}

.profileInput{
    color: #f4f4f5;
}

.profileform{
    border: 1px solid fuchsia;
}

.editContainer{
    color: #f4f4f5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.editButton{
    border: 1px solid rgba(255, 255, 255, 0.16);
    text-align: left;
    padding: 5px;
    width: 8rem;
    margin-right: 20px;
    font-size: 1rem;
    background-color: #0000004b;
    transition: all .2s ease-in-out; 
    border-radius: 5px;
}

.editButton:hover{
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 5px;
    text-align: left;
    padding: 5px;
    width: 8rem;
    margin-right: 20px;
    font-size: 1rem;
    transform: scale(1.1); 
}

.buttonText{
    margin-left: 8px;
    color: rgba(255, 255, 255, 0.463);
}

.iconButton{
    margin-left: 4px;
    color: rgba(255, 255, 255, 0.463);
}
.imgProfile{
    border-radius: 50%;
    width: 300px;
    border: solid 2px rgb(236, 236, 148) ;
}