.container{
    width: 45%;
    display: flex;
    justify-content: space-between;
    background-color: #FFDA61;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}
.separator {
    width: 2px;
    height: 191px;
    border: solid 1px black;
}

.imgContainer{
    width:250px;
    height: 250px;
}

.userdata{
    display: flex;
    flex-direction: column;

}

.userdata >div{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    color: black;
}
.userDataLabel{
    font-size: 1rem;
    color: black;
}


.profileInput{
    color: #f4f4f5;
}

.profileForm{
    /* border: 1cap solid fuchsia; */
    display: flex;

}

.actualData{
    color: black;
}

.cancelButton{
    color: #f4f4f5;
}

.profileInput{
    color: black;
    border-radius: 5px;
    height: 35px;
    position: relative;
    font-size: 14px;
    letter-spacing: .01rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 8px;
    margin-left: 0;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    line-height: 25px;
    width: 300px;
    outline: none;
}



.saveIcon{
    color: #FFDA60;
    margin: 5px;
    margin-left: 10px;
    text-align: center;
    transition: all .2s ease-in-out; 

}

.saveIcon:hover{
    margin-left: 10px;
    text-align: center;
    transform: scale(1.2); 
}

.inputContainer{
    display: flex;

}

.phoneContainer{
    height: 35px;
}

.cancelButton{
    border: 1px solid rgba(255, 255, 255, 0.16);
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    width: 9rem;
    margin-right: 10px;
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: all .2s ease-in-out; 
}

.cancelButton:hover{
    border: 1px solid rgba(255, 255, 255, 0.16);
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    width: 9rem;
    margin-right: 10px;
    font-size: 1rem;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    transform: scale(1.1); 
}

.saveButton{
    border: 1px solid rgba(255, 255, 255, 0.16);
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    width: 9rem;
    margin-right: 10px;
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: all 0.2s ease-in-out; 
    color:white;
}

.saveButton:hover{
    border: 1px solid rgba(255, 255, 255, 0.16);
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    width: 9rem;
    margin-right: 10px;
    font-size: 1rem;
    background-color: #46d250;
    border-radius: 5px;
    transform: scale(1.1); 
}


.fileInput{
    color: black;
    border-radius: 5px;
    height: 35px;
    position: relative;
    font-size: 14px;
    letter-spacing: .01rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8px;
    margin-left: 0;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    line-height: 25px;
    width: 300px;
    outline: none;
}

.buttonsContainer{
    display: flex;
    width: 100%;
    flex-direction: row !important; 
    gap: 3px;
    color: #fafafa;
}

.check{
    margin-left: 10px;
}

.profileContainer{
    /* border: 1px solid cyan; */
    display: flex;
    margin: 40px;
}