.tunerContainer {
    background-color: #FFDA61;
    display: flex;
    padding: 20px;
    width: 80%;
    height: 300px;
    margin-top: 100px;
}
.imgSport {
    width: 100px;
    height: 100px;
}
.turnerRight {
border-left: 1px solid black;
    width: 50%;
}

.turnerLeft {

    width: 50%;
}
.formContainer {
    display: flex;
    width: 80%;
}