.cardSection {
    background: #FFDA61;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;  
}

.titleContainer {
    margin-bottom: 50px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: black;
    width: 100%;
    margin-top: 50px;
}

.titleContainer h1 span {
    color: #FFDA61;
    background-color: black;
    padding: 10px;
}


